.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Battery {
  position: absolute;
  right: 2.85%;
  bottom: 25.76%;
  top: 0px;
}

.Wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  right: 40.03px;
}

.MobileSignal {
  position: absolute;
  width: 17px;
  height: 10.67px;
  right: 60.33px;
}